<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hymnal.welcome">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".service.SocketService"
            android:enabled="true"
            android:exported="true">

        </service>

        <activity
            android:name=".ui.home.Home2Activity"
            android:label="@string/title_activity_home2">

        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".ui.second.SecondActivity" />
        <activity android:name=".ui.CustomGroupActivity" />
        <activity android:name=".ui.web.URLReceiveActivity">
            <intent-filter>

                <!-- host、scheme 字段，点击url会根据这两个字段调起本地的Activity -->
                <data
                    android:host="111"
                    android:scheme="arouter" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.web.URLWebActivity" />
        <activity android:name=".ui.web.URLWebTwoActivity">

        </activity>
    </application>

</manifest>